# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

#terrafrom
.terraform.lock.hcl
.terragrunt-cache/
.terraform/
terraform.tfvars.json
terraform.tfvars
findr.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

#Orchestrator
package-lock.json
node_modules
dist/
.env
