# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

#terrafrom
.terraform.lock.hcl
.terragrunt-cache/
.terraform/
*.tfvars
*.tfstate
*.tfstate.backup

#Orchestrator
package-lock.json
node_modules
dist/
.env